.profile {
	display: flex;
	position: relative;
	align-items: center;
	cursor: pointer;
	user-select: none;
	
}

.profile .chevron.up > svg {
	transform: scaleY(-1);
}

.profile .menu {
	position: fixed;
	top: 55px;
	right: 7px;
	min-width: 120px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 10px;
	padding: 8px 12px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.log:hover {
	background: #5d7194;
	border-radius: 4px;
  }

.prof:hover {
	background: #5d7194;
	border-radius: 4px;
}