@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}
